{% block content %}

<p> 9- Unidade Sao Paulo- Tecnologia/Sistema e Suporte TI </p>
  <form method="POST">
    {% csrf_token %}
    
    <table border="1">
      <thead>
        
        <tr>
          <th>Critério</th>
          <th>Caio Cesar</th>
          <th>Urano Info</th>
          <th>Jefferson Menezes</th>
        </tr>
      </thead>
      <tbody>
        {% for form in new_formulario %}
          <tr>
            <td>{{ form.criterio.value }}</td>
            <td>{{ form.nota }}</td>
            <td>{{ form.nota }}</td>
            <td>{{ form.nota }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit">Salvar Avaliação</button>
  </form>
{% endblock %}
